* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  color: #333333;
  font-family: "Source Sans Pro", sans-serif;
}



:root {
  --yellow: #fcc139;
}

.wrapper__page {
  max-width: 1440px;
  margin: 0 auto;
}

/* Navbar */
#mainNav {
  background-color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: rgba(133, 133, 133, 0.22) 1px 1px 10px;
  max-width: 1440px;
  margin: 0 auto;

}

.navbar-dark .navbar-nav .nav-link {
  color: black;
}

#mainNav .navbar-brand {
  transition: font-size 0.3s ease-in-out;
}

.signin_anchor:hover {
  text-decoration: none;
}

#navbarNav a {
  color: #000000;
  font-weight: 700;
  font-size: 1.1;
}

.current {
  color: var(--yellow);
}

.nav-item {
  margin: 1rem 0.9rem;
}

#navbarNav a:hover {
  text-decoration: underline;
  color: var(--yellow);
}

#mainNav.navbar-shrink {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #ffffff;
  max-width: 1440px;
  margin: 0 auto;
}
#mainNav.navbar-shrink .navbar-brand {
  font-size: 1.5em;
}
#mainNav.navbar-shrink .navbar-brand svg,
#mainNav.navbar-shrink .navbar-brand img {
  height: 1.5rem;
}

@media screen and (min-width: 992px) {
  #mainNav {
    background-color: #ffffff;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    text-transform: uppercase;
  }
  .nav-item {
    margin: 1rem 0.9rem;
  }
  .btn-navbar {
    margin-left: 1rem;
  }
}

/* Masthead */
.masthead {
  background-image: url("/img/hero.png");
  width: 100%;
  height: 655px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  padding-top: 12rem;
  padding-bottom: 6rem;
  position: relative;
}

.masthead:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(68, 67, 67, 0.336);
}

.masthead .container {
  position: relative;
}

.masthead__title {
  font-size: 4rem;
  color: white;
  font-weight: 700;
  position: relative;
}

.masthead__title::after {
  content: "";
  width: 250px;
  position: absolute;
  border-bottom: 4px solid var(--yellow);
  bottom: 0;
  left: 0;
}

.masthead p {
  color: white;
  line-height: 1.5;
  width: 50%;
}

.masthead__button {
  padding: 0.5rem 1rem;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  transition: all 0.7 ease-in-out;
}

.masthead__button:hover {
  color: black;
  background: white;
}

@media screen and (max-width: 500px) {
  .masthead__title {
    font-size: 2rem;
  }

  .masthead__title::after {
    content: "";
    width: 90px;
  }

  .masthead p {
    width: 90%;
  }
}

/* Masthead */

/* Banner */
.banner {
  background-color: #d5a43b;
  color: white;
}
/* Banner */

/* Products  */
.products__button {
  color: var(--yellow);
  font-weight: 700;
  cursor: pointer;
}

.products__button:hover {
  color: var(--yellow);
  opacity: 0.7;
  text-decoration: none;
}

.products .card-footer  {
  background: none;
  border-top: 0px;
}

.products .card  {
  min-width: 210px;
}



/* Products*/

/* Recent Projects */
.projects {
  background-image: url("/img/recent/background.png");
  width: 100%;
  padding: 4rem 0rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  z-index: 1;
}

.projects:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(32, 46, 49, 0.8);
  z-index: -1;
}

.projects__title {
  color: white;
  font-weight: 700;
  position: relative;
}

.projects__title::after {
  content: "";
  width: 110px;
  position: absolute;
  border-bottom: 4px solid var(--yellow);
  bottom: -10px;
  left: 0;
}

.handlerButtons a {
  color: var(--yellow);
  font-size: 2rem;
  padding: 2px 7px;
  background-color: #202e31;
}

.handlerButtons a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.projects__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project__images div {
  overflow: hidden;
}

.project__images img {
  transition: transform 0.7s ease-in-out;
  cursor: pointer;
}

.project__images div:hover img {
  transform: scale(1.1);
}

@media screen and (max-width: 400px) {
  .projects__header {
    flex-direction: column;
  }
  .handlerButtons {
    margin-top: 2rem;
  }
}

/* Recent Projects */

/* Blog Posts */
.blog {
  background-color: #f6f6f6;
}

.blog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog__title {
  color: #3a3a3a;
  font-weight: 700;
  position: relative;
}

.blog__title::after {
  content: "";
  width: 110px;
  position: absolute;
  border-bottom: 4px solid var(--yellow);
  bottom: -10px;
  left: 0;
}

.blog__list {
  list-style: none;
  line-height: 2.9;
}

.blog__third {
  background-color: white;
}

@media screen and (max-width: 400px) {
  .blog__header {
    flex-direction: column;
  }
}

/* Blog Posts */

/* Services */
.services__item {
  border: 1px solid #000000;
  padding: 5rem 1rem;
  position: relative;
  outline: 15px solid #F3F3F3;
}

.services__text{
  position: absolute;
  font-size: 1.1rem;
  font-weight: 700;
  bottom: 0;
  right: 20px;

}

.services__image {
  position: relative;
}

.services__image::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 80%;
  border-bottom: 2px solid #000000;
}

.services__item img::after {
  position: relative;
  bottom: 0;
  border-bottom: 1px solid #000000;

}

.services__group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 1199px) {
  .services__group {
     justify-content: space-around;
  }
}
/* Services */

/* Testimonials */

.swiper__background {
  background-image: url("../img/testimonials/background.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem 0;
  position: relative;
  z-index: 1;
}

.swiper__background::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(32, 46, 49, 0.8);
  z-index: -1;
}

.swipe__text{
line-height: 2;}

.swiper__item {
  color: #ffffff;
}

.swiper__icon {
  color: var(--yellow);
}

.swiper__arrow {
  font-size: 4rem;
}
.swiper__arrow:hover {
  color: var(--yellow);
}

.swiper__score {
  font-size: 1.5rem;
  color: var(--yellow);
}

.score__number {
  color: #ffffff;
}

.testimonial__user{
  color: var(--yellow);
 
}

/* Testimonials */


/* News */

.news{
  background-color: #F6F6F6;
}

.news .card-footer {
  background: none;
  border-top: 0px;
}

.news .card  {
  min-width: 210px;
  border: none;
  background-color: #F6F6F6;

}

/* News */


/* Footer */
.footer{
  background-color: #202E31;
  position: relative;
}

.footer .row p{
color: white;
}

.footer__title {
  color: var(--yellow);
}

.footer__button {
  padding: 0.5rem 1rem;
  color:var(--yellow);
  border: 2px solid var(--yellow);
  background-color: transparent;
  transition: all 0.7 ease-in-out;
}

.footer__button:hover {
  color: white;
  background: var(--yellow);
}

.footer__copy {
  color: var(--yellow);
}


@media screen and (max-width:991px){
  .footer{
    text-align: center;
  }
}
/* Footer */



/* Back to top button*/

.back-to-top {
  position: fixed;
  color: var(--yellow);
  bottom: 25px;
  right: 25px;
  font-size: 3.5rem;
  z-index: 100;
}

.back-to-top__footer {
  color: var(--yellow);
  bottom: 25px;
  right: 25px;
  font-size: 3.5rem;
  z-index: 100;
}

.back-to-top .backIcon,
.back-to-top__footer .backIcon {
  background-color: white;
  border: 2x solid var(--yellow);
  border-radius: 50%;
  padding: 10px;
}

.back-to-top .backIcon:hover,
.back-to-top__footer .backIcon:hover {
  color: white;
  background-color: var(--yellow);
}

.back-to-top:hover .backIcon,
.back-to-top__footer:hover .backIcon {
  color: white;
  background-color: var(--yellow);
}

.back-to-top .backIcon:active .back-to-top__footer:active {
  color: white;
  background-color: var(--yellow);
}

.back-to-top__footer {
  position: absolute;
  display: none;
}

@media screen and (min-width: 1440px) {
  .back-to-top {
    display: none;
  }

  .back-to-top__footer {
    position: absolute;
    display: block;
  }
}

/* Back to top button*/